*{
   box-sizing: border-box;
}
body {
    
    font-size: 16px;
    background-color:  hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
}
.a{
    width: 600px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding:22px;
    
}
.b img{
    width: 100%;
    border-radius: 20px;
}

.c h1{
    font-size: 35px;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 1.5px;
    
}
 ul, ol {
    display:flex;
    flex-direction:column;
    gap:10px;
}
.c p{
    color: hsl(36, 2.20%, 56.30%);
    padding-left: 10px;
}
.d h3{
    color: hsl(14, 45%, 36%);
    padding-left: 12px;
    display: flex;
    justify-content: left;
}
.e{
    width: 100%;
    background-color:  hsl(330, 100%, 98%);
    border-radius: 14px;
    padding:10px;
}
.e h4{
    color: hsl(332, 51%, 32%);
    padding-left:20px;
}
.e  li{
    color:hsl(30, 2.60%, 45.50%);
    font-weight: normal;
}
.f li{
    color:hsl(30, 2.60%, 45.50%);
    font-weight: normal;
}
   .h p{
    color:hsl(30, 2.60%, 45.50%);
}
.h table{
    width: 100%;
    padding-left: 12px;
    color:hsl(30, 2.60%, 45.50%);
}
.h th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;    
}
ol {
    font-weight: normal;
    color:hsl(30, 2.60%, 45.50%);
}